<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
</head>
<body>
    <div class="w-full h-screen p-5 bg-zinc-800 text-white flex justify-center items-center">
        <div class="">
            <h1 class="font-bold text-9xl mt-3 ">Stand Out</h1>
            <h2 class="font-bold text-6xl mt-3">In the world of Job scarcity</h2>
            <p class=" text-4xl mt-3">Get Your Resume checked with <strong>AI</strong></p>
            <div class="mt-7 flex justify-between">
                <a href="/login" class="bg-blue-500 w-1/4  text-xl p-5 rounded-md text-center">Login</a>
                <a href="/signup" class="bg-yellow-500 w-1/4  text-xl p-5 text-black  rounded-md text-center">I'm New</a>
            </div>
        </div>
    </div>
</body>
</html>